<launch>
  <arg name="portNumber" default="2250"/>
  <arg name="sidescan" default="192.168.24.189"/>
  

  <node name="side_scan_sonar_control" pkg="side_scan_sonar_control" type="side_scan_sonar_control_node" output="screen">
    <rosparam command="load" file="$(find side_scan_sonar_control)/params/sidescan.yaml" />	  
  </node>
</launch>
