<launch>
  <arg name="portNumber" default="2250"/>
  <arg name="server" default="192.168.24.189"/>

  <node name="payload_manager" pkg="payload_manager" type="payload_manager_node" output="screen">
    <param name="port_number" type="int" value="$(arg portNumber)" />
    <param name="server_address" type="string" value="$(arg server)" />
  </node>
</launch>
