<launch>
  <arg name="batteryCheckPeriod" default="1.0"/>
  <arg name="minBatteryInfoCheckPeriod" default="0.5"/>
  <arg name="maxBatteryInfoCheckPeriod" default="2.0"/>
  <arg name="minBatteryLeakCheckPeriod" default="0.5"/>
  <arg name="maxBatteryLeakCheckPeriod" default="2.0"/>
  <arg name="minBatteryTotalCurrent" default="1"/>
  <arg name="minBatteryCellVoltage" default="1"/>
  <arg name="maxBatteryTemperature" default="1.65"/>
  <arg name="batteryTotalCurrentSteadyBand" default="0.0"/>

  <node name="battery_monitor_node" pkg="battery_monitor" type="battery_monitor_node" output="screen">
    <param name="min_battery_info_check_period" type="double" value="$(arg minBatteryInfoCheckPeriod)"/>
    <param name="max_battery_info_check_period" type="double" value="$(arg maxBatteryInfoCheckPeriod)"/>
    <param name="battery_check_period" type="double" value="$(arg batteryCheckPeriod)"/>
    <param name="min_battery_leak_check_period" type="double" value="$(arg minBatteryLeakCheckPeriod)"/>
    <param name="max_battery_leak_check_period" type="double" value="$(arg maxBatteryLeakCheckPeriod)"/>
    <param name="battery_total_current_steady_band" type="double" value="$(arg batteryTotalCurrentSteadyBand)"/>
    <param name="min_battery_total_current" type="double" value="$(arg minBatteryTotalCurrent)"/>
    <param name="min_battery_cell_voltage" type="double" value="$(arg minBatteryCellVoltage)"/>
    <param name="max_battery_temperature" type="double" value="$(arg maxBatteryTemperature)"/>
  </node>

</launch>
