<launch>
    <!-- mission manager -->
    <node pkg="mission_control" type="mission_control_node" name="mission_control_node" output="screen">
        <param name="report_execute_mission_state_rate" type="double" value="1.0"/>
        <param name="report_heart_beat_rate" type="double" value="1.0"/>
    </node>
</launch>
