<launch>
  <arg name="portName" default="/dev/ttyUSB0"/>
  <arg name="baudRate" default="3000000"/>
  <arg name="maxCtrlFinAngle" default="$(eval radians(20.0))"/>
  <arg name="reportAngleRate" default="25.0"/>
  <arg name="minReportAngleRate" default="12.5"/>
  <arg name="maxReportAngleRate" default="50.0"/>
  <arg name="currentLoggingEnabled" default="false"/>

  <node pkg="fin_control" type="fin_control_node" name="fin_control" output="screen">
    <param name="port" type="string" value="$(arg portName)" />
    <param name="baud" type="int" value="$(arg baudRate)" />
    <param name="max_ctrl_fin_angle" type="double" value="$(arg maxCtrlFinAngle)" />
    <param name="ctrl_fin_offset" type="double" value="$(eval radians(90.0))" />
    <param name="ctrl_fin_scale_factor" type="double" value="-1.0" />
    <param name="current_logging_enabled" type="boolean" value="$(arg currentLoggingEnabled)" />
    <param name="report_angle_rate" type="double" value="$(arg reportAngleRate)" />
    <param name="min_report_angle_rate" type="double" value="$(arg minReportAngleRate)" />
    <param name="max_report_angle_rate" type="double" value="$(arg maxReportAngleRate)" />
  </node>
</launch> 
